html, body {
  background-color: #121212;
  margin: 0;
}

h1 {
  color: #898989;
  text-align: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  align-content: center;
  padding-bottom: 5%;
}

.link-container {
  background-color: #1d1d1d;
  position: fixed;
  left: 50%;
  margin-left: -80px;
  border-radius: 10px;
}

.svg-icon {
  padding: 10px;
  height: 160px;
  width: 160px;
}